<h1>Login</h1>
<% if flash[:notice] %>
  <div class="alert alert-danger">
    <div class="message" id="notice">
      <%= flash[:notice] %>
    </div>
  </div>
<% elsif flash[:warning] %>
  <div class="alert alert-danger">
    <div class="flashMessage" id="warning">
      <%= flash[:warning] %>
    </div>
  </div>
<% end %>
<%= form_tag sessions_path, :class => 'form' do %>
  <%= label :session, :name, 'Name', :class => 'col-form-label' %>
  <%= text_field :session, 'name', :class => 'form-control' %>
  <%= label :session, :password_digest, 'Password', :class => 'col-form-label'  %>
  <%= password_field :session, 'password_digest', :class => 'form-control' %>
  <br>
  <%= submit_tag 'Login to my account', :id => 'login_submit' , :class => 'btn btn-primary' %>
  <br><br>
  <%= link_to 'Sign-up for an account', new_user_path, :id => 'signup', :class => 'btn btn-primary'%>
<% end %>
