
<h2>Projects</h2>
  <div class = "Section1">
  <dl>
    <dt>
      <h3>
        Deck of Cards
      </h3>
    </dt>
    <h5>
      <dd>Working in a simulated agile scrum environment with a team of 5. We went through 3 iterations and used programming tools such as RSPEC, HTML.erb, CSS, Ruby, Rails, Github issues, Pivotal Tracker, 4 weekly scrum meetings, SimpleCov, Sqlite as production and Postgres as development, Heroku Deployment, TDD, BDD, and RESTful services.</dd>
      <dd>https://github.com/Evan-Price-projects/CardGame</dd>
      </h5>
  </dl>
</div>
<div class = "img1">
  <%= image_tag("Screenshot from 2020-12-16 15-04-14.png", :alt => "1", style: 'height:100%;width:auto;')%>
  <%= image_tag("Screenshot from 2020-12-16 15-06-40.png", :alt => "2", style: 'height:100%;width:auto;')%>
  <%= image_tag("Screenshot from 2020-12-16 15-07-54.png", :alt => "3", style: 'height:100%;width:auto;')%>
  <%= image_tag("Screenshot from 2020-12-16 15-08-50.png", :alt => "4", style: 'height:100%;width:auto;')%>
  <%= image_tag("Screenshot from 2020-12-16 15-09-51.png", :alt => "5", style: 'height:100%;width:auto;')%>
  <%= image_tag("Screenshot from 2020-12-28 09-29-00.png", :alt => "5", style: 'height:100%;width:auto;')%>
</div><h2>Projects</h2>
  <div class = "Section1">
  <dl>
    <dt>
      <h3>
        Deck of Cards
      </h3>
    </dt>
    <h5>
      <dd>Working in a simulated agile scrum environment with a team of 5. We went through 3 iterations and used programming tools such as RSPEC, HTML.erb, CSS, Ruby, Rails, Github issues, Pivotal Tracker, 4 weekly scrum meetings, SimpleCov, Sqlite as production and Postgres as development, Heroku Deployment, TDD, BDD, and RESTful services.</dd>
      <dd>https://github.com/Evan-Price-projects/CardGame</dd>
      </h5>
  </dl>
</div>
<div class = "img2">
  <%= image_tag("Screenshot from 2020-12-16 15-04-14.png", :alt => "1", style: 'height:100%;width:auto;')%>
  <%= image_tag("Screenshot from 2020-12-16 15-06-40.png", :alt => "2", style: 'height:100%;width:auto;')%>
  <%= image_tag("Screenshot from 2020-12-16 15-07-54.png", :alt => "3", style: 'height:100%;width:auto;')%>
  <%= image_tag("Screenshot from 2020-12-16 15-08-50.png", :alt => "4", style: 'height:100%;width:auto;')%>
  <%= image_tag("Screenshot from 2020-12-16 15-09-51.png", :alt => "5", style: 'height:100%;width:auto;')%>
  <%= image_tag("Screenshot from 2020-12-28 09-29-00.png", :alt => "5", style: 'height:100%;width:auto;')%>
</div>