<%= stylesheet_link_tag 'application'  %>


<html>
    <div class = 'grid-container'>
      <header1>
       <h1>Current Lobby: <%= @current_user.tablename %></h1>

      </header1>
      <header1>
        <%=form_tag(cards_discard_card_path(:commit => "a"),method: :post,name: 'discard_card', :remote=> true) do%>
          <div class="secondary btn pretty"><%= label :discard, "Discard?"%></div>
          <div class="secondary btn pretty"><%= select :move, :movement, ["Unassigned","Me"]%></div>
          <div class="secondary btn pretty"><%= submit_tag 'Discard'%></div>
        <%end%>
      </header1>
      <header2>
        <% if flash[:notice] %>
          <div class="alert alert-danger">
            <div class="message" id="notice">
              <%= flash[:notice] %>
            </div>
          </div>
        <% elsif flash[:warning] %>
          <div class="alert alert-danger">
            <div class="flashMessage" id="warning">
              <%= flash[:warning] %>
            </div>
          </div>
        <% end %>
      </header2>
  <body>
  <section>
    <h5><%="#{@current_user.name}'s In Play Hand"%></h5>
    <%z = @cards.where(location: @current_user.name, status: 4, tablename: @current_user.tablename).sort %>
    <% z.each do |card| %>
      <% if card.location == @current_user.name and card.status ==4%>
        <%=link_to "#{card.cardFront}".html_safe, cards_take_from_board_path(:commit => "#{card.cardFront}".html_safe), method: :post %>
      <% end %>
    <% end %>
  </section>

  <div class ="section2">
    <h5>Opponent's in Play Hand</h5>
    <%x = Card.where(status: 4, tablename: @current_user.tablename)%>
    <%x=x.where.not(location: @current_user.name) %>
    <%a = x.uniq.pluck(:location)%>
    <%if a.include?('Dealer')%>
      <%a -= ['Dealer'] %>
      <% a = ['Dealer'] + a %>
    <% end %>
    <%h = Hash.new %>
    <%a.each do |c| %>
      <% unless c == @current_user.name %>
        <%h[c] = x.where(location: c) %>
        <%end %>
    <%end %>
    <%h.each do |key, value| %>
        <h5><%="#{key}" %></h5>
        <%value.sort %>
        <% value.each do |card| %>
          <%=link_to "#{card.cardFront}".html_safe, cards_take_from_board_path(:commit => "#{card.cardFront}".html_safe), method: :post %>
        <% end %>
        <%end %>
      <br><br>

  </div>
  <div class ="section3">
    <h4>Dealer</h4>
    <%=link_to "&#127136".html_safe, cards_draw_card_path(commit: "Deal"), method: :post %>
  </div>
  <div class = "section4">
  <div class ="hand">
    <h4>Other Players Hands</h4>
    <%listOfPlayers = Hash.new %>
    <% @cards.each do |card| %>
      <% if card.location != "GameDeck" and (card.status == 2 or card.status == 3) and card.location != "deck" and card.location != @current_user.name and card.tablename == @current_user.tablename%>
        <%if listOfPlayers.has_key?("#{card.location}") %>
          <%listOfPlayers["#{card.location}"] = listOfPlayers.fetch("#{card.location}") + 1 %>
        <%else %>
          <% listOfPlayers["#{card.location}"] = 1%>
        <%end %>
      <%end%>
    <%end%>
    <% listOfPlayers.each_pair do |key, value| %>
      <%= key%>
      <% (0..value-1).each do  %>
        &#127136
      <%end %>
      <br>
    <% end %>
  </div>
  </div>
    <aside>
      <div class = "draw">
      &#128104
        <%=link_to "&#127136".html_safe, cards_draw_card_path(commit: "Draw"), method: :post %>
      </div>
      <div class = "select">
        <%=form_tag({:action=> 'select_card'}, method: :post, name: 'card_select', :remote => true) do%>
          <div class="secondary btn pretty"><%= label :card_select, 'Specific Card?' %></div>
          <div class="secondary btn pretty"><%= select_tag(:card_select, options_from_collection_for_select(@cards, :name, :name), multiple: false) %></div>
          <div class="secondary btn pretty"><%= submit_tag 'Select'%></div>
        <%end%>
      </div>
    </aside>
      <main>
        <div class = "hand">
          <h4><%="#{@current_user.name}'s Hand"%></h4>
          <% @cards = @cards.where(tablename: @current_user.tablename).sort %>
          <% @cards.each do |card| %>
            <% if card.location == @current_user.name and card.status ==2%>
              <%=link_to "#{card.cardFront}".html_safe, cards_play_card_path(:commit => "#{card.cardFront}".html_safe), method: :post %>
            <%end%>
          <%end%>

        </div>
      </main>
  <main>
    <div class = "hand">
      <h4><%="#{@current_user.name}'s Action Area"%></h4>
      <%counter = 0 %>
        <% @cards.each do |card| %>
          <% if card.location == @current_user.name and card.status ==3%>
            <%=link_to "#{card.cardFront}".html_safe, cards_play_card_path(:commit => "#{card.cardFront}".html_safe), method: :post %>
            <%counter+=1 %>
          <%end%>
        <%end%>
        <%if counter==0%>
         <!-- &#127136 -->
        <%end%>
    </div>


  </main>
  <p class="extra3"></p>
  <h3 class="extra2">Player actions</h3>
  <p class="extra3"></p>
  <div class = "extra">
      <%=form_tag({:action=> 'recard_card'},method: :post,name: 'recard_card', :remote=> true) do%>
        <div class="secondary btn pretty"><%= label :move, :movement, 'Move?' %></div>
        <div class="secondary btn pretty"><%= select :move, :movement, ["Action to Hand","Board to Action","Hand to Assigned Deck"]%></div>
        <div class="secondary btn pretty"><%= submit_tag 'Move'%></div>
      <%end%>
  </div>
  <div class="extra">
    <%=form_tag({:action=> 'recover_discard'},method: :post, :remote=> true) do%>
      <div class="secondary btn pretty"><%= submit_tag 'Recover Discard'%></div>
      <% end %>
    <%=link_to 'Discard', cards_discard_cards_path(:sort => 'location'), :id => 'discard_link' %>
    <%=link_to 'Remove Cards', cards_remove_cards_path(:sort => 'location'), :id => 'remove_link' %>
  </div>
  <div class = "extra">

    <%=form_tag({:action=> 'pass_card'},method: :post,name: 'pass_card', :remote=> true) do%>
      <div class="secondary btn pretty"><%= label :to, 'Pass action cards to: ' %></div>
          <div class="secondary btn pretty"><%= select_tag(:to, options_for_select(User.where(tablename: @current_user.tablename).uniq.pluck(:name)), multiple: false) %></div>
        <div class="secondary btn pretty"><%= submit_tag 'Pass'%></div>
    <%end%>
  </div>
  <div class="extra">
    <%=form_tag(cards_discard_card_path(:commit => "b"),method: :post,name: 'discard_card', :remote=> true) do%>
      <div class="secondary btn pretty"><%= label :discard, "Discard?"%></div>
      <div class="secondary btn pretty"><%= select :move, :movement, ["Unassigned","Me"]%></div>
      <div class="secondary btn pretty"><%= submit_tag 'Discard'%></div>
    <%end%>
  </div>
  <footer><div></div></footer>
  <footer><div></div></footer>

  <footer>
    <%=form_tag({:action=> 'leave_game'},method: :post,name: 'leave_game', :remote=> true) do%>
      <div class="secondary btn pretty"><%= submit_tag 'Leave Game'%></div>
    <%end%>
  </footer>
  <footer><div></div></footer>
  <footer><div></div></footer>
  <footer><div></div></footer>
  <footer><div></div></footer>
  <footer><div></div></footer>
  <footer><div></div></footer>
  <footer>
    <%=form_tag({:action=> 'reset_card'},method: :post,name: 'reset_card', :remote=> true) do%>
      <div class="secondary btn pretty"><%= submit_tag 'Reset Game'%></div>
    <%end%>
  </footer>
  <footer><div></div></footer>
  <footer><div></div></footer>
  <script>
      window.addEventListener("DOMContentLoaded", function() {
          setInterval(function(){
              location.reload();
          }, 15000);
      });
  </script>
  </body>
  </div>
</html>
