<%= stylesheet_link_tag 'application'  %>
<% if flash[:notice] %>
  <div class="alert alert-danger">
    <div class="message" id="notice">
      <%= flash[:notice] %>
    </div>
  </div>
<% elsif flash[:warning] %>
  <div class="alert alert-danger">
    <div class="flashMessage" id="warning">
      <%= flash[:warning] %>
    </div>
  </div>
<% end %>
<%= form_tag cards_path, :class => 'form' do %>
<%  cards = [{ name: "AS", location: "deck", status: 1, cardFront: "&#127137", UserID: User.where(name: @current_user.name).first.id},
  { name: "2S", location: "deck", status: 1, cardFront: "&#127138", UserID: User.where(name: @current_user.name).first.id},
  { name: "3S", location: "deck", status: 1, cardFront: "&#127139", UserID: User.where(name: @current_user.name).first.id},
  { name: "4S", location: "deck", status: 1, cardFront: "&#127140", UserID: User.where(name: @current_user.name).first.id},
  { name: "5S", location: "deck", status: 1, cardFront: "&#127141", UserID: User.where(name: @current_user.name).first.id},
  { name: "6S", location: "deck", status: 1, cardFront: "&#127142", UserID: User.where(name: @current_user.name).first.id},
  { name: "7S", location: "deck", status: 1, cardFront: "&#127143", UserID: User.where(name: @current_user.name).first.id},
  { name: "8S", location: "deck", status: 1, cardFront: "&#127144", UserID: User.where(name: @current_user.name).first.id},
  { name: "9S", location: "deck", status: 1, cardFront: "&#127145", UserID: User.where(name: @current_user.name).first.id},
  { name: "10S", location: "deck", status: 1, cardFront: "&#127146", UserID: User.where(name: @current_user.name).first.id},
  { name: "JS", location: "deck", status: 1, cardFront: "&#127147", UserID: User.where(name: @current_user.name).first.id},
  { name: "QS", location: "deck", status: 1, cardFront: "&#127149", UserID: User.where(name: @current_user.name).first.id},
  { name: "KS", location: "deck", status: 1, cardFront: "&#127150", UserID: User.where(name: @current_user.name).first.id},
  { name: "AH", location: "deck", status: 1, cardFront: "&#127153", UserID: User.where(name: @current_user.name).first.id},
  { name: "2H", location: "deck", status: 1, cardFront: "&#127154", UserID: User.where(name: @current_user.name).first.id},
  { name: "3H", location: "deck", status: 1, cardFront: "&#127155", UserID: User.where(name: @current_user.name).first.id},
  { name: "4H", location: "deck", status: 1, cardFront: "&#127156", UserID: User.where(name: @current_user.name).first.id},
  { name: "5H", location: "deck", status: 1, cardFront: "&#127157", UserID: User.where(name: @current_user.name).first.id},
  { name: "6H", location: "deck", status: 1, cardFront: "&#127158", UserID: User.where(name: @current_user.name).first.id},
  { name: "7H", location: "deck", status: 1, cardFront: "&#127159", UserID: User.where(name: @current_user.name).first.id},
  { name: "8H", location: "deck", status: 1, cardFront: "&#127160", UserID: User.where(name: @current_user.name).first.id},
  { name: "9H", location: "deck", status: 1, cardFront: "&#127161", UserID: User.where(name: @current_user.name).first.id},
  { name: "10H", location: "deck", status: 1, cardFront: "&#127162", UserID: User.where(name: @current_user.name).first.id},
  { name: "JH", location: "deck", status: 1, cardFront: "&#127163", UserID: User.where(name: @current_user.name).first.id},
  { name: "QH", location: "deck", status: 1, cardFront: "&#127165", UserID: User.where(name: @current_user.name).first.id},
  { name: "KH", location: "deck", status: 1, cardFront: "&#127166", UserID: User.where(name: @current_user.name).first.id},
  { name: "AD", location: "deck", status: 1, cardFront: "&#127169", UserID: User.where(name: @current_user.name).first.id},
  { name: "2D", location: "deck", status: 1, cardFront: "&#127170", UserID: User.where(name: @current_user.name).first.id},
  { name: "3D", location: "deck", status: 1, cardFront: "&#127171", UserID: User.where(name: @current_user.name).first.id},
  { name: "4D", location: "deck", status: 1, cardFront: "&#127172", UserID: User.where(name: @current_user.name).first.id},
  { name: "5D", location: "deck", status: 1, cardFront: "&#127173", UserID: User.where(name: @current_user.name).first.id},
  { name: "6D", location: "deck", status: 1, cardFront: "&#127174", UserID: User.where(name: @current_user.name).first.id},
  { name: "7D", location: "deck", status: 1, cardFront: "&#127175", UserID: User.where(name: @current_user.name).first.id},
  { name: "8D", location: "deck", status: 1, cardFront: "&#127176", UserID: User.where(name: @current_user.name).first.id},
  { name: "9D", location: "deck", status: 1, cardFront: "&#127177", UserID: User.where(name: @current_user.name).first.id},
  { name: "10D", location: "deck", status: 1, cardFront: "&#127178", UserID: User.where(name: @current_user.name).first.id},
  { name: "JD", location: "deck", status: 1, cardFront: "&#127179", UserID: User.where(name: @current_user.name).first.id},
  { name: "QD", location: "deck", status: 1, cardFront: "&#127181", UserID: User.where(name: @current_user.name).first.id},
  { name: "KD", location: "deck", status: 1, cardFront: "&#127182", UserID: User.where(name: @current_user.name).first.id},
  { name: "AC", location: "deck", status: 1, cardFront: "&#127185", UserID: User.where(name: @current_user.name).first.id},
  { name: "2C", location: "deck", status: 1, cardFront: "&#127186", UserID: User.where(name: @current_user.name).first.id},
  { name: "3C", location: "deck", status: 1, cardFront: "&#127187", UserID: User.where(name: @current_user.name).first.id},
  { name: "4C", location: "deck", status: 1, cardFront: "&#127188", UserID: User.where(name: @current_user.name).first.id},
  { name: "5C", location: "deck", status: 1, cardFront: "&#127189", UserID: User.where(name: @current_user.name).first.id},
  { name: "6C", location: "deck", status: 1, cardFront: "&#127190", UserID: User.where(name: @current_user.name).first.id},
  { name: "7C", location: "deck", status: 1, cardFront: "&#127191", UserID: User.where(name: @current_user.name).first.id},
  { name: "8C", location: "deck", status: 1, cardFront: "&#127192", UserID: User.where(name: @current_user.name).first.id},
  { name: "9C", location: "deck", status: 1, cardFront: "&#127193", UserID: User.where(name: @current_user.name).first.id},
  { name: "10C", location: "deck", status: 1, cardFront: "&#127194", UserID: User.where(name: @current_user.name).first.id},
  { name: "JC", location: "deck", status: 1, cardFront: "&#127195", UserID: User.where(name: @current_user.name).first.id},
  { name: "QC", location: "deck", status: 1, cardFront: "&#127197", UserID: User.where(name: @current_user.name).first.id},
  { name: "KC", location: "deck", status: 1, cardFront: "&#127198", UserID: User.where(name: @current_user.name).first.id},
  { name: "RJ", location: "deck", status: 1, cardFront: "&#127167", UserID: User.where(name: @current_user.name).first.id},
  { name: "BJ", location: "deck", status: 1, cardFront: "&#127183", UserID: User.where(name: @current_user.name).first.id},]%>

 <% cards.each do |card|%>
  <%if !(params[:checkbox].nil?) %>
    <%key_arr = params[:checkbox].keys%>
    <%if key_arr.include?(card[:name]) %>
      <%   card[:location] = "Out of Play" %>
      <%   card[:status] = 0 %>
      <% end %>
    <% end %>
  <% Card.create!(card) %>
  <%end%>

  <%= label :card, :UserID, name: User.where(name: @current_user.name).first.id, :class => 'col-form-label' %>
  <%= submit_tag "#{@current_user.name}" %>
<% end %>
