<%= stylesheet_link_tag 'application'  %>

<div class = "projects_head"><h1>Verify Table Creation</h1></div>
<div class = "projects">
  <% if flash[:notice] %>
    <div class="alert alert-danger">
      <div class="message" id="notice">
        <%= flash[:notice] %>
      </div>
    </div>
  <% elsif flash[:warning] %>
    <div class="alert alert-danger">
      <div class="flashMessage" id="warning">
        <%= flash[:warning] %>
      </div>
    </div>
    <%end %>
<%= form_tag cards_path, :class => 'form' do %>
<%  cards = [{ name: "AS", location: "deck", status: 1, cardFront: "&#127137", table_id: Table.last.id},
  { name: "2S", location: "deck", status: 1, cardFront: "&#127138", table_id: Table.last.id},
  { name: "3S", location: "deck", status: 1, cardFront: "&#127139", table_id: Table.last.id},
  { name: "4S", location: "deck", status: 1, cardFront: "&#127140", table_id: Table.last.id},
  { name: "5S", location: "deck", status: 1, cardFront: "&#127141", table_id: Table.last.id},
  { name: "6S", location: "deck", status: 1, cardFront: "&#127142", table_id: Table.last.id},
  { name: "7S", location: "deck", status: 1, cardFront: "&#127143", table_id: Table.last.id},
  { name: "8S", location: "deck", status: 1, cardFront: "&#127144", table_id: Table.last.id},
  { name: "9S", location: "deck", status: 1, cardFront: "&#127145", table_id: Table.last.id},
  { name: "10S", location: "deck", status: 1, cardFront: "&#127146", table_id: Table.last.id},
  { name: "JS", location: "deck", status: 1, cardFront: "&#127147", table_id: Table.last.id},
  { name: "QS", location: "deck", status: 1, cardFront: "&#127149", table_id: Table.last.id},
  { name: "KS", location: "deck", status: 1, cardFront: "&#127150", table_id: Table.last.id},
  { name: "AH", location: "deck", status: 1, cardFront: "&#127153", table_id: Table.last.id},
  { name: "2H", location: "deck", status: 1, cardFront: "&#127154", table_id: Table.last.id},
  { name: "3H", location: "deck", status: 1, cardFront: "&#127155", table_id: Table.last.id},
  { name: "4H", location: "deck", status: 1, cardFront: "&#127156", table_id: Table.last.id},
  { name: "5H", location: "deck", status: 1, cardFront: "&#127157", table_id: Table.last.id},
  { name: "6H", location: "deck", status: 1, cardFront: "&#127158", table_id: Table.last.id},
  { name: "7H", location: "deck", status: 1, cardFront: "&#127159", table_id: Table.last.id},
  { name: "8H", location: "deck", status: 1, cardFront: "&#127160", table_id: Table.last.id},
  { name: "9H", location: "deck", status: 1, cardFront: "&#127161", table_id: Table.last.id},
  { name: "10H", location: "deck", status: 1, cardFront: "&#127162", table_id: Table.last.id},
  { name: "JH", location: "deck", status: 1, cardFront: "&#127163", table_id: Table.last.id},
  { name: "QH", location: "deck", status: 1, cardFront: "&#127165", table_id: Table.last.id},
  { name: "KH", location: "deck", status: 1, cardFront: "&#127166", table_id: Table.last.id},
  { name: "AD", location: "deck", status: 1, cardFront: "&#127169", table_id: Table.last.id},
  { name: "2D", location: "deck", status: 1, cardFront: "&#127170", table_id: Table.last.id},
  { name: "3D", location: "deck", status: 1, cardFront: "&#127171", table_id: Table.last.id},
  { name: "4D", location: "deck", status: 1, cardFront: "&#127172", table_id: Table.last.id},
  { name: "5D", location: "deck", status: 1, cardFront: "&#127173", table_id: Table.last.id},
  { name: "6D", location: "deck", status: 1, cardFront: "&#127174", table_id: Table.last.id},
  { name: "7D", location: "deck", status: 1, cardFront: "&#127175", table_id: Table.last.id},
  { name: "8D", location: "deck", status: 1, cardFront: "&#127176", table_id: Table.last.id},
  { name: "9D", location: "deck", status: 1, cardFront: "&#127177", table_id: Table.last.id},
  { name: "10D", location: "deck", status: 1, cardFront: "&#127178", table_id: Table.last.id},
  { name: "JD", location: "deck", status: 1, cardFront: "&#127179", table_id: Table.last.id},
  { name: "QD", location: "deck", status: 1, cardFront: "&#127181", table_id: Table.last.id},
  { name: "KD", location: "deck", status: 1, cardFront: "&#127182", table_id: Table.last.id},
  { name: "AC", location: "deck", status: 1, cardFront: "&#127185", table_id: Table.last.id},
  { name: "2C", location: "deck", status: 1, cardFront: "&#127186", table_id: Table.last.id},
  { name: "3C", location: "deck", status: 1, cardFront: "&#127187", table_id: Table.last.id},
  { name: "4C", location: "deck", status: 1, cardFront: "&#127188", table_id: Table.last.id},
  { name: "5C", location: "deck", status: 1, cardFront: "&#127189", table_id: Table.last.id},
  { name: "6C", location: "deck", status: 1, cardFront: "&#127190", table_id: Table.last.id},
  { name: "7C", location: "deck", status: 1, cardFront: "&#127191", table_id: Table.last.id},
  { name: "8C", location: "deck", status: 1, cardFront: "&#127192", table_id: Table.last.id},
  { name: "9C", location: "deck", status: 1, cardFront: "&#127193", table_id: Table.last.id},
  { name: "10C", location: "deck", status: 1, cardFront: "&#127194", table_id: Table.last.id},
  { name: "JC", location: "deck", status: 1, cardFront: "&#127195", table_id: Table.last.id},
  { name: "QC", location: "deck", status: 1, cardFront: "&#127197", table_id: Table.last.id},
  { name: "KC", location: "deck", status: 1, cardFront: "&#127198", table_id: Table.last.id},
  { name: "RJ", location: "deck", status: 1, cardFront: "&#127167", table_id: Table.last.id},
  { name: "BJ", location: "deck", status: 1, cardFront: "&#127183", table_id: Table.last.id},]%>

 <% cards.each do |card|%>
  <%if !(params[:checkbox].nil?) %>
    <%key_arr = params[:checkbox].keys%>
    <%if key_arr.include?(card[:name]) %>
      <%   card[:location] = "Out of Play" %>
      <%   card[:status] = 0 %>
      <% end %>
    <% end %>
  <% Card.create!(card) %>
  <%end%>
    <table id="github">
      <thead>
      <tr>
        <th>Card</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <% Card.where(table_id: Table.last.id, status: 1).each do |card| %>
        <tr>
          <td>
            <%= card[:cardFront].html_safe %>
          </td>
          <td>
            <%= card[:name] %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <%= label :card, :table_id, name: Table.last.id, :class => 'col-form-label' %>
  <%= submit_tag "Is this Correct?" %>
<% end %>
</div>