
<!DOCTYPE html>
<html>
<head>
  <title>Evan Price</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<h1><div class = "Title">
  <%=link_to "Evan Price", root_path%>
</div></h1>
  <div class = 'grid-container'>
  <header>
    <div class="topnav">
      <%if current_page?(root_path) %>

        <%root = "active" %>
      <%elsif current_page?(descriptions_education_path)%>
        <%edu = "active" %>
      <%elsif current_page?(descriptions_experience_path)%>
        <%exp = "active" %>
      <%elsif current_page?(descriptions_skills_path)%>
        <%skills = "active" %>
      <%elsif current_page?(descriptions_github_path)%>
        <%git = "active" %>
      <%elsif !@images.nil? and current_page?(descriptions_images_path(@images.id))%>
        <%git = "active" %>
      <%elsif current_page?(controller: 'cards') or current_page?(controller: 'users')or current_page?(controller: 'tables')%>
        <%game = "active" %>

      <%end %>
      <%=link_to "Home", root_path, class: root %>
      <%=link_to "Education", descriptions_education_path, :id => 'Education', class: edu%>
      <%=link_to "Experience", descriptions_experience_path, :id => 'Experience', class: exp%>
      <%=link_to "Skills", descriptions_skills_path, :id => "Skills", class: skills%>
      <%=link_to "Projects", descriptions_github_path, :id => "Github", class: git%>
      <%= link_to "Game", tables_path, :id => 'Game' ,:method => :get, class: game %>

    </div>
  </header>
  <body>
  <%= yield %>
</body>
</div>
</html>
