<!DOCTYPE html>
<html>
<head>
  <title>Evan Price</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<h1><div class = "Title">
  <%=link_to "Evan Price", root_path%>
</div></h1>
  <div class = 'grid-container'>
  <header>
    <div class="topnav">
      <%if current_page?(root_path) %>
        <%root = "active" %>
      <%elsif current_page?(descriptions_education_path)%>
        <%edu = "active" %>
      <%elsif current_page?(descriptions_experience_path)%>
        <%exp = "active" %>
      <%elsif current_page?(descriptions_skills_path)%>
        <%skills = "active" %>


      <%end %>
      <%=link_to "Home", root_path, class: root %>
      <%=link_to "Education", descriptions_education_path, :id => 'Education', class: edu%>
      <%=link_to "Experience", descriptions_experience_path, :id => 'Experience', class: exp%>
      <%=link_to "Skills", descriptions_skills_path, :id => "Skills", class: skills%>



    </div>
  </header>
  <div class = "spacer1"></div>
  <body>
<%= yield %>

</body>
</div>
</html>
