<!DOCTYPE html>
<html>
<head>
  <title>Evan Price</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= image_tag("final.jpg", :alt => "Evan Price IMG", :width => 240, :height => 325) %>

</body>
</html>
